<body>
    <div class='header'>
        <ul>
            <li><a href='/sessions/<%= current_user.id %>'>Logout</a></li>
            <li>|</li>
            <li><a href="/morefakehelp">Help</a></li>
            <li>|</li>
            <li><a href="/home">Home</a></li>
        </ul>
    </div>
    <div class='body'>
        <p>Why are you looking for help?</p>
        <p>You've already made an account and logged in successfully. What more do you friggin want??</p>
        <p><a href='/home'>Click here</a> to go back and stop looking for help all the time!</p>
    </div>
</body>