<%= stylesheet_link_tag "index.css" %>
<body>
    <div class='header'>
        <ul>
            <li><a href='/sessions/<%= current_user.id %>'>Logout</a></li>
            <li>|</li>
            <li><a href="/fakehelp">Help</a></li>
            <li>|</li>
            <li><a href='/store'>Your Store</a></li>
            <li>|</li>
            <li><a href="/cart">View cart</a> ( <%= current_user.carts.count %> )</li>
            <li>|</li>
            <li><a href="/home">Home</a></li>
        </ul>
    </div>
    <div class='main'>
        <img class='backgroundimg' src='/assets/img1.jpg' alt='img1.jpg'>
        <div class='body'>
            <div class='bodytop'>
                <h1>View Item</h1>
            </div>
            <% @item.each do |i| %>
                <h3>Item name: <%= i.name %></h3>
                <h3>Price: $<%= i.price %></h3>
                <h3>Quantity available: <%= i.quantity %></h3>
                <h3>Seller: <%= i.user.username %></h3>
                <form action='/addtocart/<%= i.id %>' method='post'>
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="cart[<%= i.id %>]" value="<%= i.id %>">
                    <input type='submit' value='Add to Cart'>
                </form>
            <% end %>
            <br><br>
            <a href='/home'>Go back</a>
        </div>
    </div>
</body>