<%= stylesheet_link_tag "help.css" %>
<body>
    <div class='header'>
        <ul>
            <li><a href="/login">Login</a></li>
            <li>|</li>
            <li><a href="/register">Register</a></li>
            <li>|</li>
            <li><a href="/fakehelp">Help</a></li>
            <li>|</li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    <div class='body'>
        <p>What? You're looking for help?</p>
        <p>How about you try clicking <a href="/register">here</a> to make another account or clicking <a href="/login">here</a> to log in instead of asking stupid questions all the time</p>
    </div>
</body>
