<body>
    <div class='header'>
        <ul>
            <li><a href="/login">Login</a></li>
            <li>|</li>
            <li><a href="/register">Register</a></li>
            <li>|</li>
            <li><a href="/help">Help</a></li>
            <li>|</li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
    <div class='body'>
        <p>What? You forgot your password?</p>
        <p><a href="/register">Click here</a> to go register another account and be sure to write down your password next time, breh</p>
    </div>
</body>
