<%= stylesheet_link_tag "index.css" %>
<body>
    <div class='header'>
        <ul>
            <li><a href='/sessions/<%= @current_user.id %>'>Logout</a></li>
            <li>|</li>
            <li><a href="/fakehelp">Help</a></li>
            <li>|</li>
            <li><a href='/store'>Your Store</a></li>
            <li>|</li>
            <li><a href="/cart">View cart</a> ( <%= current_user.carts.count %> )</li>
            <li>|</li>
            <li><a href="/home">Home</a></li>
        </ul>
    </div>
    <div class='main'>
        <img class='backgroundimg' src='/assets/img1.jpg' alt='img1.jpg'>
        <div class='body'>
            <div class='bodytop'>
                <h1>Your Cart</h1>
            </div>
            <% @cart.all.each do |i| %>
                <h3>Item name: <%= i.store.name %></h3>
                <h3>Price: $<%= i.store.price %></h3>
                <h3>Seller: <%= i.store.user.username %></h3>
                <form action='/delete/<%= i.id %>' method='post'>
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="<%= i.id %>" value="<%= i.id %>">
                    <input type='submit' value='Remove Item'>
                </form>
                <hr>
            <% end %>
            <br><br>
            <% if not @cart.count == 0 %>
                <a href='/checkout'><button>Proceed to checkout >></button></a>
            <% else %>
                <h3>Your cart is empty, breh</h3>
                <h4>Go buy something and gib me money pls</h4>
            <% end %>
        </div>
    </div>
</body>