<%= stylesheet_link_tag "index.css" %>
<body>
    <div class='header'>
        <ul>
            <li><a href='/sessions/<%= @current_user.id %>'>Logout</a></li>
            <li>|</li>
            <li><a href="/fakehelp">Help</a></li>
            <li>|</li>
            <li><a href='/store'>Your Store</a></li>
            <li>|</li>
            <li><a href="/cart">View cart</a> ( <%= current_user.carts.count %> )</li>
            <li>|</li>
            <li><a href="/home">Home</a></li>
        </ul>
    </div>
    <div class='main'>
        <img class='backgroundimg' src='/assets/img1.jpg' alt='img1.jpg'>
        <div class='body'>
            <div class='bodytop'>
                <h1>Checkout</h1>
            </div>
            <p>(Note: this is the part where the page is supposed to have you enter in your credit card info, but I do not have a third party connector/whatever it is that is supposed to be used to implement credit card validation.)</p>
            <hr>
            <h2>Are you sure you want to gibe me money for the following items?</h2>
            <% @cart.all.each do |i| %>
                <h3>Item name: <%= i.store.name %></h3>
                <h3>Price: $<%= i.store.price %></h3>
                <h3>Seller: <%= i.store.user.username %></h3>
                <hr>
            <% end %>
            <br><br>
            <a href='/home'><button>No I no give you money</button></a>
            <br><br>
            <form action='/checkout' method='post'>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="cart[store_id]">
                <input type='submit' value='Yes take my money pls'>
            </form>
        </div>
    </div>
</body>